export UNCONDITIONAL_API_ALLOWED_ORIGINS="http://localhost:3000"
export UNCONDITIONAL_API_PORT=8080
export UNCONDITIONAL_API_ADDRESS="localhost"
export UNCONDITIONAL_API_SOURCE_REPO="source"
export UNCONDITIONAL_API_SOURCE_CLIENT_KEY="secret"
