openapi: 3.0.2
x-stoplight:
  id: g0km90jnbo4i0
info:
  title: Unconditional
  version: '1.0'
servers:
  - url: 'https://api.unconditional.day/v1'
  - url: 'http://localhost:8080'
  - url: '127.0.0.1:8080'
paths:
  '/v1/search/feed/{query}':
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedItem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
      x-stoplight:
        id: e6uenhk2m21k5
      parameters: []
    parameters:
      - schema:
          type: string
        name: query
        in: path
        required: true
  '/v1/search/context/{query}':
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/SearchContextDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Error'
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      x-stoplight:
        id: 7c394v6kr5tff
  /v1/version:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ServerVersion'
      operationId: get-v1-version
      x-stoplight:
        id: oucep4v9ubq2z
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
  '/v1/search/feed/similarities/{feedID}':
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedDetails'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: get-v1-search-feed-similarities
      x-stoplight:
        id: cu8bexmv3qwv6
      parameters: []
    parameters:
      - schema:
          type: string
        name: feedID
        in: path
        required: true
components:
  schemas:
    FeedItem:
      type: object
      x-stoplight:
        id: kwewfmf4xgq3e
      required:
        - id
        - title
        - summary
        - link
        - source
        - language
        - date
      properties:
        id:
          type: string
          x-stoplight:
            id: i41a7r351wuiy
        title:
          type: string
        summary:
          type: string
        link:
          type: string
        source:
          type: string
        language:
          type: string
        image:
          type: object
          $ref: '#/components/schemas/FeedImage'
        date:
          type: string
          format: date-time
        '':
          type: string
          x-stoplight:
            id: 6uzhltl5f1ayg
    FeedImage:
      type: object
      properties:
        url:
          type: string
        title:
          type: string
      required:
        - url
        - title
      x-stoplight:
        id: albynchitcqzu
    SearchContextDetails:
      type: object
      x-stoplight:
        id: fhfrlaebk9ask
      properties:
        title:
          type: string
        link:
          type: string
        summary:
          type: string
        thumbnail:
          type: string
        language:
          type: string
      required:
        - title
        - link
        - summary
        - thumbnail
        - language
      title: SearchContextDetails
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
      required:
        - message
        - code
      x-stoplight:
        id: mffsjrkb81ot5
    ServerVersion:
      title: ServerVersion
      x-stoplight:
        id: 4m4ndcimoercb
      type: object
      properties:
        source:
          $ref: '#/components/schemas/SourceReleaseVersion'
        build:
          $ref: '#/components/schemas/ServerBuildVersion'
      required:
        - source
        - build
    SourceReleaseVersion:
      title: SourceReleaseVersion
      x-stoplight:
        id: qrni9cae7qsr6
      type: object
      properties:
        version:
          type: string
          x-stoplight:
            id: g42kpmf59e9sb
        lastUpdatedAt:
          type: string
          x-stoplight:
            id: ozgly07pllzwb
      required:
        - version
        - lastUpdatedAt
    ServerBuildVersion:
      title: ServerBuildVersion
      x-stoplight:
        id: a6g4vsjso6ozw
      type: object
      properties:
        commit:
          type: string
          x-stoplight:
            id: 48tl37vuwu47p
        version:
          type: string
          x-stoplight:
            id: mwqxrg5t0vvst
      required:
        - commit
        - version
    FeedDetails:
      title: FeedDetails
      x-stoplight:
        id: jdfavk4q6qd6o
      type: object
      properties:
        source:
          $ref: '#/components/schemas/FeedItem'
        similarities:
          type: array
          x-stoplight:
            id: 0s2id9mhqzyv9
          items:
            $ref: '#/components/schemas/FeedItem'
