openapi: 3.0.2
x-stoplight:
  id: 44w9u0405b53e
info:
  title: Unconditional
  version: "1.0"
servers:
  - url: "https://api.unconditional.day/v1"
  - url: "http://localhost:8080"
  - url: "127.0.0.1:8080"
paths:
  "/v1/search/feed/{query}":
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FeedItem"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/Error"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      x-stoplight:
        id: wosl2fd4xhhrd
  "/v1/search/context/{query}":
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/SearchContextDetails"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/Error"
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      x-stoplight:
        id: idoe8qr80ebxd
  "/v1/version":
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/ServerVersion"
      operationId: get-v1-version
      x-stoplight:
        id: q4lvzczpgn9wh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
components:
  schemas:
    FeedItem:
      type: object
      properties:
        title:
          type: string
        summary:
          type: string
        link:
          type: string
        source:
          type: string
        language:
          type: string
        image:
          type: object
          $ref: "#/components/schemas/FeedImage"
        date:
          type: string
          format: date-time
      required:
        - title
        - summary
        - link
        - source
        - language
        - date
      x-stoplight:
        id: xa4xmb6bpguaf
    FeedImage:
      type: object
      properties:
        url:
          type: string
        title:
          type: string
      required:
        - url
        - title
      x-stoplight:
        id: cmmybtqamyqiy
    SearchContextDetails:
      type: object
      x-stoplight:
        id: 2bea7d1686f73
      properties:
        title:
          type: string
        link:
          type: string
        summary:
          type: string
        thumbnail:
          type: string
        language:
          type: string
      required:
        - title
        - link
        - summary
        - thumbnail
        - language
      title: SearchContextDetails
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
      required:
        - message
        - code
      x-stoplight:
        id: ugjrjhvkdmen2
    ServerVersion:
      title: ServerVersion
      x-stoplight:
        id: 24qo1fm939bg5
      type: object
      properties:
        source:
          $ref: "#/components/schemas/SourceReleaseVersion"
        build:
          $ref: "#/components/schemas/ServerBuildVersion"
      required:
        - source
        - build
    SourceReleaseVersion:
      title: SourceReleaseVersion
      x-stoplight:
        id: ufsclw4vu3qp5
      type: object
      properties:
        version:
          type: string
          x-stoplight:
            id: t6xp7ev3nprdj
        lastUpdatedAt:
          type: string
          x-stoplight:
            id: 26hfi8gtj9bdi
      required:
        - version
        - lastUpdatedAt
    ServerBuildVersion:
      title: ServerBuildVersion
      x-stoplight:
        id: p7byzats6s3zt
      type: object
      properties:
        commit:
          type: string
          x-stoplight:
            id: eoik296b0ddt3
        version:
          type: string
          x-stoplight:
            id: jup15zjavkg3a
      required:
        - commit
        - version
